<div class="card" style="background-color : black">
  <div class="card-block">
 	   <h5 style="color:white" class="card-title">Azmi Anvar</h5>
 	   <h6 style="color:white" class="card-subtitle text-muted">16:12:12 11:48:29</h6>
  </div>
  <div style="text-align: center;">
 		 <img src="https://lh4.googleusercontent.com/-ucaixGmjF3c/AAAAAAAAAAI/AAAAAAAAAy0/89Ns1zb3ZjQ/photo.jpg" alt="Card image" class="img-fluid center-block">
 	</div>
  <div class="card-block" style="background-color : black">
    <p style="color:white" class="card-text">Don't judge my story by the chapter you walked on</p>
    <a href="#" class="card-link">Like👍</a>
    <a href="#" class="card-link float-xs-right">Report</a>
  </div>
  <form>
  	<field class="form-group">
	  	<input type="text" class="form-control" placeholder="add comment........">
  	</field>
</div>

