<div class="card">
  <div class="card-block">
 	   <h5 class="card-title">Azmi Anvar</h5>
 	   <h6 class="card-subtitle text-muted">16:12:12 12:32:32</h6>
  </div>
  <div style="text-align: center;">
 		 <img src="https://lh3.googleusercontent.com/37LnYRA4oKVJaTBBt5KJ-HKiTpGHdTzDtzSGpLlK68eM4WYAWyomqx3dHOtH6f7nNA=h900" alt="Card image" class="img-fluid center-block">
 	</div>
  <div class="card-block">
    <p class="card-text">Three things cannot be long hidden: the sun, the moon, and the truth.</p>
    <a href="#" class="card-link">Like👍</a>
    <a href="#" class="card-link float-xs-right">Report</a>
  </div>
  <form>
  	<field class="form-group">
	  	<input type="text" class="form-control" placeholder="add comment........">
  	</field>
</div>

