{% extends "base.html" %}

{% block content %}
<div class="container" style="padding-top:40px;">
	<div class="row">
	 <div class="col-md-12  col-xs-12">
			<div class="card card-block" style="background-color : black">
				<div class="row">
					<div class="col-md-4 col-xs-12">
						 <img src="https://lh4.googleusercontent.com/-ucaixGmjF3c/AAAAAAAAAAI/AAAAAAAAAy0/89Ns1zb3ZjQ/photo.jpg" alt="Image" class="img-fluid img-thumbnail" class="img-fluid-center-block" >
					 </div>
					
					 <div class="col-md-8  col-xs-12">
					 	<h3 style="color:white">Azmi Anvar</h3>
					 	<p style="color:white" class="card-text">Life is all about travelling🚲 and trekking⛷ with friends<br>Footballer⚽<br>Software Engineer😂</p>
					 	<p style="color:white" class="card-text">Wish me on:19 October 🎂 🕯 🎉</p>
						<p style="color:white" class="card-text">Branch : CSE</p>
					 	<p style="color:white" class="card-text">Year of joining : 2014</p>
					 </div>
				 </div>

			</div>
	 </div>
    </div>



<div class="row">
	<div class="col-md-6 offset-md-3  col-lg-6 offset-lg-3 col-xs-12">
		{% include "post.html" %}
	
	
	</div>
</div> 
 

</div> <!--end-->









 
 {% endblock %}
